@import "global.css";

.gem {
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

#content-container{
    width: 50%;
	height: min-content;
	background-color: #555;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	padding-top: 0.5%;
	padding-right: 1.5%;
	padding-left: 1.5%;
	padding-bottom: 0.5%;

	margin: auto;

	border: #333;
	border-style: solid;
	border-width: thick;

	filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.7));

	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-name: slidein;
}

.background-container {
	position: fixed;
	bottom:0px; left:0px; right:0px;
}

.content {
	color: #fff;
	text-align: left;
	font-size: 2vh;
	font-family: Arial, Helvetica, sans-serif;
}

.content>strong {
	font-size: 3vh;
}

body {
	background-color: var(--brown-light);
}

@keyframes slidein {
	from { transform: translate(0%, 200%); }
	to   { transform: translate(0%, 0%); }
}