:root {
    --yellow-dark: #ffdf90;
    --yellow-middle: #ffc63780;
    --yellow-light: #ffd46680;

    --red-light: #ff966f;
    --red-dark: #cc3600;

    --green-dark: #61ab36;
    --green-light: #7ac74f;

    --grey-dark: #555;
    --grey-light: #707070;

    --blue-dark: #00aff5;
    --blue-light: #70d6ff;

    --brown-dark: #2d1b10;
    --brown-light: #4b2d1d;

    --white-dark: #ddd;
    --white-light: #fff;
}

#content-container{
    max-height: 50vh;
    width: 50vw;
	height: min-content;
	background-color: #555;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	padding: 1%;

	margin: auto;
	text-align: center;

	border: #333;
	border-style: solid;
	border-width: thick;

	filter: drop-shadow(6px 6px 4px rgba(0, 0, 0, 0.7));

	animation-duration: 2s;
	animation-timing-function: ease-out;
	animation-name: slidein;

    overflow: auto;
}

.background-container {
	position: fixed;
	bottom:0px; left:0px; right:0px;
}

.content {
	color: #fff;
	text-align: justify;
	font-size: 2vh;
    margin: 0;
    margin-top: 2vh;
	font-family: Arial, Helvetica, sans-serif;
}

.content>strong {
	font-size: 3vh;
}

svg {
    stroke-width: 1px;
    stroke: #000;
}

.arrow {
    position:absolute;
    margin:0;
	text-align: center; 
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

#arrowLeft {
    top:50%;
    left:2%;   
	transform: translateY(-50%);
	cursor: pointer;
}

#arrowRight {
    top:50%;
    right:2%;
	transform: translateY(-50%);
	cursor: pointer;
	direction: rtl;
}
#arrowRight>svg { transform: rotate(180deg); }

#arrowTop {
    top:2%;
    left:50%;
	cursor: pointer;
	transform: translateX(-50%);
}
#arrowTop>svg { transform: rotate(90deg); }

#arrowBottom {
    bottom:2%;
	cursor: pointer;
    left:50%;
	transform: translateX(-50%);
}
#arrowBottom>svg { transform: rotate(270deg); }

#arrow-container {
    position:absolute;
    height:100%;
    width:100%;
	margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#arrow-container>div>svg {
	width:4vw;
    min-width: 30px;
    stroke-width: 0px;
}

a {
    color: white;
}

h1 { font-size: 8vh; color: #333; } 
h2 { font-size: 4vh; color: #333; }
h3 { font-size: 3vh; color: #fff; } 

h1, h2, h3 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

html, body { margin:0; padding:0; overflow:hidden }