@import "global.css";

.gem {
	filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

img {
	width: 50%;
}

body {
	background-color: var(--blue-light);
}

h3 {
	color: #fff;
}

@keyframes slidein {
	from { transform: translate(200%, 0%); }
	to   { transform: translate(0%, 0%); }
}