.sun-outer {
	fill: #ffd466;
}


.sun-middle {
	fill: #ffc637;
}

.sun-outer, .sun-middle {
	opacity: 0.5;
}

.sun-inner {
	fill: #ffdf90;
}

.birds-light {
	fill: #707070;
}

.birds-dark {
	fill: #555;
}

.mountian-dark {
	fill: #61ab36;
}

.mountian-light {
	fill: #7ac74f;
}

.background-container {
	position: fixed;
	bottom:0; left:0; right:0;
}

.box{
    width: 50%;
	height: 50%;
	background-color: red;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;

	animation-duration: 4s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		transform: translate(0%, -150%);
	}

	to {
		transform: translate(0%, 0%);
	}
}

html, body { margin:0; padding:0; overflow:hidden }

body {
	display: block;
	background-color: #70d6ff;
}