.sun-outer {
	fill: #ffd466;
}


.sun-middle {
	fill: #ffc637;
}

.sun-outer, .sun-middle {
	opacity: 0.5;
}

.sun-inner {
	fill: #ffdf90;
}

.birds-light {
	fill: #707070;
}

.birds-dark {
	fill: #555;
}

.mountian-dark {
	fill: #61ab36;
}

.mountian-light {
	fill: #7ac74f;
}

.background-container {
	position: fixed;
	bottom:0; left:0; right:0;
}

/* .content-container{
    width: 50%;
	height: 50%;
	background-color: #555;
	
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	padding-top: 0.5%;
	padding-right: 1.5%;
	padding-left: 1.5%;
	padding-bottom: 0.5%;

	margin: auto;

	border: #333;
	border-style: solid;
	border-width: thick;

	animation-duration: 4s;
	animation-name: slidein;
} */

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	animation-duration: 4s;
	animation-name: fadein;
}

h1 {
	color: #000;
	font-size: 1000%;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
} 

@keyframes slidein {
	from {
		transform: translate(0%, -150%);
	}

	to {
		transform: translate(0%, 0%);
	}
}

@keyframes fadein {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}

/* .content {
	color: #fff;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
} */

html, body { margin:0; padding:0; overflow:hidden }

body {
	display: block;
	background-color: #70d6ff;
}