.sun-outer { fill: var(--sun-outer); }
.sun-middle { fill: var(--sun-middle); }
.sun-inner { fill: var(--sun-inner); }

.birds-light { fill: var(--grey-light); }
.birds-dark { fill: var(--grey-dark); }
.mountain-dark { fill: var(--green-dark); }
.mountain-light { fill: var(--green-light); }

.sun-inner, .sun-outer, .sun-middle {
    animation-name: slidein;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

.arrow {
    position:absolute;
    margin:0;
	text-align: center; 
}

#arrowLeft {
    top:50%;
    left:2%;   
	transform: translateY(-50%);
	cursor: pointer;
}

#arrowRight {
    top:50%;
    right:2%;
	transform: translateY(-50%);
	cursor: pointer;
	direction: rtl;
}
#arrowRight>svg { transform: rotate(180deg); }

#arrowTop {
    top:2%;
    left:50%;
	cursor: pointer;
	transform: translateX(-50%);
}
#arrowTop>svg { transform: rotate(90deg); }

#arrowBottom {
    bottom:2%;
	cursor: pointer;
    left:50%;
	transform: translateX(-50%);
}
#arrowBottom>svg { transform: rotate(270deg); }

#cloud1 {
	animation-delay: 5s;
	animation-duration: 6.5s;
	animation-name: move1;
}

#cloud2 {
	animation-delay: 4s;
	animation-duration: 6s;
	animation-name: move2;
}

#cloud3 {
	animation-delay: 4.5s;
	animation-duration: 5.5s;
	animation-name: move3;
}

#cloud4 {
	animation-delay: 5.5s;
	animation-duration: 7s;
	animation-name: move4;
}

.cloud {
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes move1 { 50%  { transform: translate(0%,  2%); } }
@keyframes move2 { 50%  { transform: translate(0%,  -2%); } }
@keyframes move3 { 50%  { transform: translate(0%,  1%); } }
@keyframes move4 { 50%  { transform: translate(0%,  -1%); } }